h4 + img{
    height: 60px;
    width: 60px;
}

h4{
    text-align: center;
}

iframe{
    position: relative;
    height: 100%;
    width: 100%;

}

/* .castor{
    height: 375px;
    display: block;
    padding: 0px;
}

.castorimage{
    display: inline-block;
    height: 375px;
    width: 1880px;
    background: linear-gradient(to right, transparent, #332208 53%, black 90%),
    url("Images/Photos/castor1.png"), no-repeat;
    padding: 0px;
}

.castorcarre{
    display: inline-block;
    height: 375px;
    width: 800px;
    background: linear-gradient(to right, #332208, black);
    padding: 0px;
} */

.sous-titre{
    font-weight: bold;
}

.sous-titre1{
    font-weight: bold;
}

.texte-image-titre{
    font-size: 0.5em;
    padding: 100px 20px 0px 20px;

}

.page-titre{
    text-align: center;
    background-size: cover;
    border: 0px;
    font-size: 3em;
}

.page-titre-photo1{
    background-image: url("../images/Photos/Les_loups1.jpg");
    filter: grayscale(40%);
}

.page-titre-photo2{
    background-image: url("../images/Photos/Vallee-fantomes.jpg");
    filter: grayscale(30%);
}

.page-titre-photo3{
    background-image: url("../images/Photos/Mont-Megantic.jpg");
    filter: grayscale(40%);
}

.page-titre-photo4{
    background-image: url("../images/Photos/Bic.jpg");
    filter: grayscale(20%);
}

.content-photo-title-page{
    color:white;
    width: 100%;
    top: 50%;
    padding: 225px 0px 150px 0px;

}

.services-offerts-image{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    padding: 150px 0px 0px 0px;
}

.services-offerts-image img{
    filter: invert(100%) opacity(50%) brightness(150%);
    border: 1px groove black;
}



.services-offerts{
    display: grid;
    width: 92%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 30px;
    text-align: justify;
    margin-bottom: 20px;
}

.button{
    display: grid;
    grid-template-columns: 100%;
    width: auto;


}

.audio-commentaires{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "texte citation"
    "bouton citation";
    margin-bottom: 30px;
}

.texte-boutton{
    display: grid;
    grid-area: texte;
}

.bouton{
    display: grid;
    grid-area: bouton;
}

.citation{
    grid-area: citation;
}



table{
    width: 100%;
}

.tableau1{
    border: 5px solid transparent;
    border-image: url("../images/feuille_bordure.png") 30 round;
}

.tableau2{
    border: 5px solid transparent;
    border-image: url("../images/Photos/Vallee-fantomes.jpg") 30 round;
}

.tableau3{
    border: 5px solid transparent;
    border-image: url("../images/ciel-nuit.jpg") 30 stretch;
}

.tableau4{
    border: 5px solid transparent;
    border-image: url("../images/vague.jpeg") 30 stretch;
    filter: grayscale(50%);
}

table img{
    width: 100px;
    height: 100px;
    margin: auto;
}

table tr td p{
    font-weight: normal;
    font-size: 0.75em;
}

table td ol > li{
    font-weight: bold;
}

table tr:first-child{
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px;
}


table ul li:last-child{
    list-style: none;
    list-style-image: url(../images/duree.png);
    list-style-type: square;
    margin-left: 0px;
    margin-bottom: 1.2em;
    

}

table ul li:first-child{
    list-style: none;
    list-style-image: url(../images/distance.png);
    list-style-type: square;
    margin-left: 0px;
}

td{
    border-bottom: 2px solid darkgray;
}

.header-tableau{
    font-weight: bold;
    font-size: 1.3em;
}

.derniere-colonne{
    width: 20%;
    background-image: url("../images/background-test.jpg");
    background-repeat: repeat;
    filter: brightness(95%);
}


/* Citation du bas de page */
.citation{
    width: 92%;
    position: relative;
    margin-top: 50px;
    color: rgb(0, 53, 0);
    background-color: rgba(50, 50, 50, 0.1);
    padding: 20px;
}

blockquote{
    font-size: 1.5em;
}

.personne{
    text-align: right;
    color: black;
}










